.movie-list {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}
.cover-img {
    width: 300px;
    height: auto;
}
input[type='radio'] {
    display: none;
}
.star {
    cursor: pointer;
    transition: color 200ms;
}